body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digits {
  display: block;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.buttons {
  display: block;
}
